.pagination-wrapper {
  .pagination {
    .page-item {
      &.active {
        .page-link {
          color: #ffffff;
          background-color: #1e2128;
        }
      }

      &.disabled {
        .page-link {
            background-color: transparent;
            color: #dee1e6;
            font-size: 0.875rem;
        }
      }

      &:last-child {
        .page-link {
            margin-right: 0;
        }
      }

      .page-link {
        font-family: "Inter-Bold";
        font-size: 0.75rem;
        line-height: 1.25rem;
        color: #171a1f;
        border: none;
        border-radius: 50%;
        padding: 0.4rem 0.9rem;
        margin-right: 0.3125rem;
      }
    }
  }
}
