.article-list-wrapper {
  .article {
    border-bottom: 1px solid #dee1e6;
    padding-bottom: 1.25rem;
    margin-bottom: 4rem;

    &.hide-article {
      display: none;
    }

    .article-image {
      border-radius: 0.5rem;
    }

    .article-content-header {
      @media (max-width: 767px) {
        margin-top: 0.75rem;
      }

      .article-date,
      .article-source {
        font-size: 0.75rem;
        color: #565d6d;
        line-height: 1.25rem;
      }

      .article-source {
        text-align: right;
      }

      .article-title {
        line-height: 1.625rem;
        margin: 0;
      }
    }

    .article-body {
      padding-top: 2rem;
      padding-bottom: 1.5rem;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }

    .article-author {
      font-family: "Inter-Bold";
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
  }
}
